In [4]:
#Q1Write a program to accept two numbers from the user and calculate multiplication
def fun_multiply():
    num1=float(input("enter first number"))
    num2=float(input("enter second number"))
    return num1*num2;

In [6]:
prod=fun_multiply()

enter first number 3
enter second number 2.5

In [7]:
prod

7.5

In [3]:
#Q2Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.
#print('Name', 'Is', 'James') will display Name**Is**James
print('Name', 'Is', 'James', sep="**")

Name**Is**James

In [8]:
#Q3 Convert Decimal number to octal using print() output formatting
num3=8
print('%o' %num3)

10

In [10]:
#Q4Display float number with 2 decimal places using print()
float1=458.541315
print('%0.2f' %float1)

458.54

In [11]:
#Q5 Accept a list of 5 float numbers as an input from the user
numbers=[]

for i in range(0,5):
    item=float(input("enter the number"))
    numbers.append(item)
print(numbers)

enter the number 1.1
enter the number 1.2
enter the number 1.3
enter the number 1.4
enter the number 1.5

[1.1, 1.2, 1.3, 1.4, 1.5]

In [7]:
#Q6 Write all content of a given file into a new file by skipping line number 5
# read test.txt
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1
with open("new_file.txt", "r") as fp:
    # read all lines from a file
    lines1 = fp.readlines()
print(lines)
print(lines1)

['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7']
['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line6\n', 'line7']

In [9]:
#Q7 Write a program to take three names as input from a user in the single input() function call.
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three string Mukund Raj Vasu

Name1: Mukund
Name2: Raj
Name3: Vasu

In [10]:
#Q8 Write a program to use string.format() method to format the following three variables as per the expected output
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [12]:
#Q9 Write a program to check if the given file is empty or not
import os

size = os.stat("test.txt").st_size
if size == 0:
    print('file is empty')
else:
    print('not empty')

not empty

In [14]:
#Q10 Read line number 4 from the following file
# read file
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 4
    print(lines[3])

line4